\admin\admin.hbs }}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/admin.css" />
    <link rel="stylesheet" href="../styles/colors.css" />
    <link rel="stylesheet" href="../styles/type.css" />
    <link rel="stylesheet" href="../styles/header-nav.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <title>OnRecord Admin Panel</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <div class="nav-bar">
      <div class="nav-bar-elements">
        <!-- Title -->
        <a class="on-record" href="/home">
          <span>O</span><span>n</span>
          <br />
          <span>R</span><span>e</span><span>c</span><span>o</span><span
          >r</span><span>d</span>
        </a>
        <!-- Genre Button -->
        <div class="genre-button">
          <button class="genre">Genre</button>
          <div class="genre-content">
            <a href="#">Pop</a>
            <a href="#">Rock</a>
            <a href="#">Hip-Hop</a>
            <a href="#">R&B</a>
            <a href="#">Country</a>
            <a href="#">Jazz</a>
            <a href="#">Classical</a>
            <a href="#">Electronic</a>
            <a href="#">Folk</a>
          </div>
        </div>
        <!-- Search Bar -->
        <div class="search-bar">
          <input
            type="search"
            class="text-box"
            id="search-input"
            placeholder="Search..."
          />
        </div>
        <div id="search-results" class="search-results"></div>
        <!-- Charts Button -->
        <div class="charts-button">
          <a class="charts" href="/charts">
            <span class="charts-text">Charts</span>
          </a>
        </div>
        <!-- User Button -->
        <div class="user-button">
          <a class="user-button" href="/profile">
            <img class="user-pic" src="{{user.image}}" alt="User Image" />
          </a>
        </div>
        <!-- Logout Button -->
        <div class="logout-button">
          <a class="logout" href="/logout">
            <span class="logout-text">Logout</span>
          </a>
        </div>
        <!-- Admin Button -->
        <div class="admin-button">
          <a class="admin" href="/admin">
            <span class="admin-text">Admin</span>
          </a>
        </div>
      </div>
    </div>

    <div class="admin-container">
      <div class="admin-buttons">
        <a href="/admin/music" class="admin-action-button">
          Music Management
        </a>
        <a href="/admin/users" class="admin-action-button">
          User Management
        </a>
      </div>
    </div>

    <script src="../js/admin.js"></script>
  </body>
</html>