<!DOCTYPE HTML>
<title>Charts</title>
<link rel="stylesheet" href="../styles/chart_based.css" />
<link rel="stylesheet" href="../styles/colors.css">
<link rel="stylesheet" href="../styles/type.css" />
<link rel="stylesheet" href="../styles/header-nav.css" />
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">
<body style="overflow-y: auto">
    <!-- Navigation Bar -->
    <div class="nav-bar">
      <div class="nav-bar-elements">
        <!-- Title -->
        <a class="on-record" href="/home">
          <span>O</span><span>n</span>
          <br />
          <span>R</span><span>e</span><span>c</span><span>o</span><span
          >r</span><span>d</span>
        </a>
        <!-- Genre Button REMOVED FOR NOW -->
        <div class="genre-button">
          <button class="genre"></button>
        </div>
        <!-- Search Bar -->
        <div class="search-bar">
          <!-- Text Box -->
          <input
            type="search"
            class="text-box"
            id="search-input"
            placeholder="Search..."
          />
        <div id="search-results" class="search-results"></div>
        </div>
        <!-- Charts Button -->
        <div class="charts-button">
          <a class="charts" href="charts">
            <span class="charts-text" href="charts">Charts</span>
          </a>
        </div>
        <!-- User Button -->
        <div class="user-button">
          <a class="user-button" href="profile">
            <img class="user-pic" src="{{user.image}}" alt="User Image" />
          </a>
        </div>

        <!-- Logout Button -->
        <div class="logout-button">
          <a class="logout" href="/logout">
            <span class="logout-text">Logout</span>
          </a>
        </div>

        <!-- Admin Button (conditional button) -->
        {{#if (eq user.type "admin")}}
          <div class="admin-button">
            <a class="admin" href="/admin">
              <span class="admin-text">Admin</span>
            </a>
          </div>
        {{/if}}
      </div>
    </div>
  <section class="most-based">
        <div class="text">Most Based</div>
        <div class="subtext" style="font-size: 1.2rem; top: 20px">The highest ratings with the most frequent play count. Need I say more?</div>
  
  <div class="based-grid">
    {{#each music}}  
      <div class="based-item">
          <img src="{{this.image}}" alt="Image">
          <h2>{{this.name}}</h2>
          <p>{{this.artists}}</p>
          <button>See More</button>
      </div>
    {{/each}}
    </div>

  <div class="footer">
    <a href="charts"><u>charts</u></a>
    <a href="charts-popular"><u>popular</u></a>
    <a href="charts-critical"><u>critical</u></a>
    <a href="charts-based"><u>based</u></a>
  </div>
</body>
<script src="../js/charts.js"></script>
