@keyframes moveGrid {
    from {
        transform: translate(0, 0);
    }
    to {
        /* Under any circumstance, do NOT change this*/
        /* what happens if you do is kinda funny */
        transform: translate(-100px, -100px);
    }
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

html, body {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--space);
    text-align: center;
    background-color: white;
}

.background {
    background-color: var(--darkBlue);
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 100px);
    gap: 0;
    animation: moveGrid 10s linear infinite;
}

.square {
    width: 40px;
    height: 40px;
    background-color: var(--royalBlue);
    opacity: 100%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.text {
    position: relative;
    font-size: 8rem;
    color: var(--yellow);
    font-weight: bold;
    z-index: 2;
}

.subtext {
    position: relative;
    z-index: 2;
    color: var(--yellow);
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: -20px;
}

.arrow {
    z-index: 2;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    animation: float 2s ease-in-out infinite;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--orange);
    display: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.footer a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    align-self: center;
    margin: 20px;
    color: black;
}