html,
body {
  height: 100%;
  text-align: center;
}

/*  Navigation Bar  */
.nav-bar {
  background-color: var(--darkBlue);
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

/* Centering nav-bar-elements and placing it on top */
.nav-bar-elements {
  width: 70%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* Ensure it is on top of nav-bar */
}

/*  Top Logo  */
.on-record {
  color: #ffffff;
  text-align: left;
  font-family: "Space Grotesk";
  font-size: 2rem;
  line-height: 27px;
  letter-spacing: -0.08em;
  font-weight: 700;
  position: relative;
  text-decoration: none; /* Remove underline from text link */
  margin-right: 20px; /* Add some space between the logo and the search bar */
}

.on-record span:hover {
  animation: none;
  color: var(--cyan);
}

.on-record span {
  animation: animRotate 3s ease-in-out alternate infinite;
  display: inline-block; /* Ensure the span is treated as a block element for transform */
  transform-origin: center; /* Set the transform origin to the center */
}

@keyframes animRotate {
  0% {
    transform: scaleX(1);
    color: var(--orange);
  }

  100% {
    transform: scaleX(-1);
    color: var(--cyan);
  }
}

/*  Search Bar  */
.search-bar {
  background: #ffffff;
  border-radius: 10px;
  width: 50%; /* Make the search bar responsive */
  height: 53px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden; /* Ensure elements do not overflow */
  margin-right: 20px;
}

.search-button {
  border-radius: 10px;
  width: 77px;
  height: 60px; /* Match the height of the search bar */
  position: relative;
  top: 5px; /* Align to the top of the search bar */
  margin-left: auto;
  z-index: 2;
}

.text-box {
  background: #ffffff;
  width: 95%;
  height: 37px;
  padding: 3px;
  font-size: 20px;
  font-family: "Space Grotesk";
  border: none; /* Ensure no border is applied */
  outline: none; /* Remove the default focus outline */
  position: relative;
  left: 0px;
  z-index: 1;
}

/* Genre Button */
.genre {
  color: #a7a7a7;
  text-align: left;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-weight: 400;
  border: none;
  background: none;
  position: relative;
  right: 30px;
  top: 12px;
  z-index: 3;
  margin-right: 20px;
}

.genre-svg {
  width: 50px;
  height: 12px;
  position: relative;
  bottom: 8px;
  z-index: 3;
}

.genre-button {
  width: 80px;
  height: 53px;
  display: inline-block;
  position: relative;
  z-index: 3; /* Ensure this is on top */
  left: 20px;
}

.genre-content {
  display: none;
  font-family: "Space Grotesk";
  position: absolute;
  background-color: #f1f1f1;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 4; /* Ensure this is on top of .genre-button */
  top: 50px;
  border-radius: 3px;
  text-align: left;
  right: 15px;
}

.genre-content a {
  color: black;
  padding: 13px 8px;
  text-decoration: none;
  display: block;
}

.genre-content a:hover {
  background-color: #ddd;
}

.genre-button:hover .genre-content {
  display: block;
}

/* Charts Button */
.charts-button {
  position: relative;
  border: none;
  z-index: 3;
  width: 5vw;
  height: 5vh; /* Adjust height to match .charts */
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); /* Fix typo: argba to rgba */
  margin-right: 20px;
}

.charts {
  font-family: "Space Grotesk";
  background-color: #7fbe00;
  border-radius: 15px;
  width: 100%; /* Make it fill the parent .charts-button */
  height: 100%; /* Make it fill the parent .charts-button */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); /* Fix typo: argba to rgba */
  border: none;
  text-decoration: none; /* Remove underline from text link */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.charts:hover {
  background-color: #6aa300;
}

.charts-text {
  color: #ffffff;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-weight: 400;
  text-decoration: none; /* Remove underline from text link */
  position: relative;
}

/* User Button */
.user-button {
  width: 55px;
  height: 55px;
  position: relative;
}

.user-pic {
  border-radius: 15px;
  width: 55px;
  height: 55px;
  transform-origin: 0 0;
  transform: rotate(-1.062deg) scale(1, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}
