html,
body {
  height: 100%;
  text-align: center;
}

/*  Navigation Bar  */
.nav-bar {
  background-color: var(--darkBlue);
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

/* Centering nav-bar-elements and placing it on top */
.nav-bar-elements {
  width: 70%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* Ensure it is on top of nav-bar */
}

/*  Top Logo  */
.on-record {
  text-align: left;
  font-family: "Space Grotesk";
  font-size: 2rem;
  line-height: 1.6875rem; /* Converted 27px to rem */
  letter-spacing: -0.08em;
  font-weight: 700;
  position: relative;
  text-decoration: none; /* Remove underline from text link */
  margin-right: 1.25rem; /* Converted 20px to rem */
}

.on-record span:hover {
  animation: none;
  color: var(--cyan);
}

.on-record span {
  animation: animRotate 3s ease-in-out alternate infinite;
  display: inline-block; /* Ensure the span is treated as a block element for transform */
  transform-origin: center; /* Set the transform origin to the center */
}

@keyframes animRotate {
  0% {
    transform: scaleX(1);
    color: var(--orange);
  }

  100% {
    transform: scaleX(-1);
    color: var(--cyan);
  }
}

/*  Search Bar  */
.search-bar {
  background: #ffffff;
  border-radius: 0.625rem; /* Converted 10px to rem */
  width: 50%; /* Make the search bar responsive */
  height: 7.5vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden; /* Ensure elements do not overflow */
  margin-right: 1vw;
  min-width: 200px; /* Add min-width */
  min-height: 50px; /* Add min-height */
}

.search-button {
  border-radius: 0.625rem; /* Converted 10px to rem */
  position: relative;
  margin-left: auto;
  z-index: 2;
}

.text-box {
  background: #ffffff;
  width: 95%;
  font-size: 1.25rem;
  font-family: "Space Grotesk";
  border: none; /* Ensure no border is applied */
  outline: none; /* Remove the default focus outline */
  position: relative;
  left: 0;
  z-index: 1;
}

/* Genre Button */
.genre-button {
  width: 5.3vw;
  height: auto;
  display: inline-flex; /* Change to inline-flex to center the content */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  position: relative;
  z-index: 3; /* Ensure this is on top */
  min-width: 50px; /* Add min-width */
  min-height: 50px; /* Add min-height */
  row-gap: 1vw; /* Add gap between elements */
}

.genre {
  color: #a7a7a7;
  text-align: left;
  font-family: "Space Grotesk";
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  position: relative;
  right: auto;
  top: auto;
  z-index: 3;
  margin-right: auto;
}

.genre-content {
  display: none;
  font-family: "Space Grotesk";
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2); /* Converted 8px and 16px to rem */
  z-index: 4; /* Ensure this is on top of .genre-button */
  border-radius: 1rem;
  text-align: left;
  top: 100%; /* Position below the .genre-button */
  left: 0; /* Align to the left of the .genre-button */
  width: 100%; /* Make the width of genre-content match the genre-button */
}

.genre-content a {
  color: black;
  padding: 2vh 0.5vw;
  text-decoration: none;
  display: block;
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words if necessary */
}

.genre-content a:hover {
  background-color: #ddd;
}

.genre-button:hover .genre-content {
  display: block;
}

/* Charts Button */
.charts-button {
  position: relative;
  border: none;
  z-index: 3;
  width: 5vw;
  height: 6vh;
  border-radius: 0.9375rem; /* Converted 15px to rem */
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25); /* Converted 4px to rem */
  margin-right: 1vw; /* Changed to relative value */
  min-width: 50px; /* Add min-width */
  min-height: 50px; /* Add min-height */
}

.charts {
  font-family: "Space Grotesk";
  background-color: var(--chart-bg-color, #7fbe00);
  border-radius: var(
    --chart-border-radius,
    0.9375rem
  ); /* Converted 15px to rem */
  width: 100%; /* Make it fill the parent .charts-button */
  height: 100%; /* Make it fill the parent .charts-button */
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25); /* Converted 4px to rem */
  border: none;
  text-decoration: none; /* Remove underline from text link */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.charts:hover {
  background-color: #6aa300;
}

.charts-text {
  color: #ffffff;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none; /* Remove underline from text link */
  position: relative;
}

/* User Button */
.user-button {
  width: 3vw;
  aspect-ratio: 1;
  position: relative;
  min-width: 50px; /* Add min-width */
  min-height: 50px; /* Add min-height */
}

.user-pic {
  border-radius: var(
    --user-pic-border-radius,
    0.9375rem
  ); /* Converted 15px to rem */
  width: var(--user-pic-width, 3.4375rem); /* Converted 55px to rem */
  height: var(--user-pic-height, 3.4375rem); /* Converted 55px to rem */
  aspect-ratio: 1;
  transform-origin: 0 0;
  transform: rotate(-1.062deg) scale(1, 1);
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25); /* Converted 4px to rem */
  position: relative;
}
