body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

main {
    padding: 2rem;
    max-width: 1600px;
    margin: auto;
}

.review {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-header {
    display: flex;
    align-items: center;
}

.review-header img {
    max-width: 270px;
    margin-right: 20px;
}

.review-details {
    flex: 1;
}

.review-details p {
    margin: 5px 0;
}

#song-title {
    font-size: 2.5rem;
}

#artist-name {
    font-size: 1.5rem;
}

.genre-links {
    font-size: 1rem;
    margin-right: 10px;
}

.genre-links a {
    color: #333;
    text-decoration: none;
}

.genre-links a:hover {
    text-decoration: underline;
}

.user-reviews {
    margin-top: 2rem;
}

.user-review {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.user-review img {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

.user-review-details {
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
