body {
    font-family: "Space Grotesk";
    /* margin: 0;
    padding: 0; */
    background-color: var(--cyan);
}

body > * {
    padding-top: 10px;
}

/* review section */
.review {
    padding: 2rem;
    max-width: 1400px;
    margin: 100px auto 0;
    font-size: 1.1rem; /* Adjusting base font size */
    color: #ffffff;
    background: rgba(19, 19, 19, 0.95); /* Slightly darker background */
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.review-header {
    display: flex;
    align-items: center;
}

.review-header img {
    max-width: 270px;
    margin-right: 20px;
}

.review-details {
    flex: 1;
}

.review-details p {
    margin: 5px 0;
}

#song-title {
    font-size: 2.2rem; 
}

#artist-name {
    font-size: 1.3rem; 
}

/* Genre Links */
.genre-links {
    font-size: 1rem; 
    margin-right: 10px;
}

.genre-links a {
    color: #00bcd4; 
    text-decoration: none;
}

.genre-links a:hover {
    text-decoration: underline;
}

/* Comment Box */
.comment-box {
    margin-top: 2rem;
    background-color: #2c2c2c; 
    padding: 1rem;
    border: 1px solid #444; 
    border-radius: 5px;
}

.comment-box h3 {
    margin-top: 0;
}

.comment-box textarea {
    width: 98.5%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #555; 
    font-size: 1rem; 
    resize: vertical;
}

.comment-box button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #00bcd4;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.comment-box button:hover {
    background-color: #0288a9; /* Darker hover color */
}

/* User Reviews */
.user-reviews {
    margin-top: 2rem;
}

.user-review {
    display: flex;
    align-items: center;
    background-color: #3c3c3c; /* Adjusting background color */
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.user-review img {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

.user-review-details {
    flex: 1;
}

/* Review Actions */
.review-actions {
    margin-top: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
}

.edit-button,
.delete-button {
    padding: 0.3rem 0.6rem;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-right: 0.5rem;
    /* display: flex; */
    align-items: right;
    justify-content: right;
}

.edit-button {
    background-color: #00bcd4; 
}

.edit-button:hover {
    background-color: #0288a9; 
}

.delete-button {
    background-color: #00bcd4;
}

.delete-button:hover {
    background-color: #0288a9; 
}
.edit-button img {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
}
