@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}

body {
  background-color: var(--cyan);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  height: 100vh; /* Ensure the body takes the full height of the viewport */
  margin: 0; /* Remove default margin */
  padding-top: 60px; /* Add some padding to move content down slightly */
}

body > * {
  padding-top: 10px; /* Add top padding to every direct child of body */
}

.main-content {
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: flex-start; /* Align items to the top */
  align-items: center;
  width: 100%;
  gap: 1vh;
  margin-top: 2vh; /* Add margin to start a little lower */
}

.bg1 {
  width: 840.36px;
  height: 360.13px;
  position: absolute;
  left: 20.2px;
  top: 1000px;
  transform-origin: 0 0;
  transform: rotate(-152.745deg) scale(0.981, 1.018);
  object-fit: cover;
  animation: float 2s ease-in-out infinite;
}
.bg2 {
  width: 720px;
  height: 300px;
  position: absolute;
  left: 1117.29px;
  top: 752px;
  transform-origin: 0 0;
  transform: rotate(5.58deg) scale(0.999, 1.001);
  object-fit: cover;
  animation: float 2s ease-in-out infinite;
}
.bg3 {
  width: 900.44px;
  height: 700px;
  position: absolute;
  left: -27.4px;
  top: 118px;
  object-fit: cover;
  animation: float 2s ease-in-out infinite;
}
.bg4 {
  width: 510.53px;
  height: 360.05px;
  position: absolute;
  left: 1372.49px;
  top: 154.39px;
  transform-origin: 0 0;
  transform: rotate(11.616deg) scale(0.995, 1.005);
  object-fit: cover;
  animation: float 2s ease-in-out infinite;
}

.random-bar {
  width: 70vw;
  height: 18vh;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px; /* Adjust this value to move the bar higher or lower */
}

.random-title {
  color: #ffffff;
  font-family: "Space Grotesk";
  font-size: 2.2rem;
  line-height: 2.8rem;
  letter-spacing: -0.08em;
  font-weight: 700;
  position: relative;
}

.yellow-bar {
  width: 100%;
  height: 18vh;
  position: relative;
  background: rgba(255, 220.89, 27.63, 0.85);
  border-radius: 16px;
  backdrop-filter: blur(4px);
}

.random-songs {
  height: 19vh;
  width: 100%;
  top: -17vh;
  position: relative;
  overflow-x: auto;
}

.random-content {
  height: 17vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.random-content img {
  width: 150px;
  height: 150px;
  border-radius: 16px;
  margin-right: 1vw;
}

.catalog-box {
  background: rgba(19, 19, 19, 0.86);
  border-radius: 74px;
  width: 70vw;
  height: 100vh; /* Adjust height to fit content */
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  backdrop-filter: blur(2px);
  margin-top: 70px; /* Add some space between the random-bar and catalog-box */
  padding: 20px; /* Add padding inside the catalog box */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.catalog-title {
  color: #ffffff;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 40px;
  line-height: 36px;
  letter-spacing: -0.08em;
  font-weight: 700;
  position: relative;
  top: 30.93px;
  width: 217.04px;
  height: 39.51px;
}

.catalog-list {
  width: 68vw;
  height: 156vh;
  margin-top: 6vh;
  position: relative;
  overflow-y: auto; /* Enable vertical scrolling */
  display: block;
  flex-direction: column;
  align-items: center;
}

.song-box div { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.song-box {
  width: 65vw;
  height: 91.73px;
  margin-bottom: 20px; /* Add margin to space out the song boxes */
  background: rgba(37.19, 37.19, 37.19, 0.81);
  border-radius: 20px;
  display: flex; /* Ensure the content inside is flex */
  flex-direction: row;
  align-items: center; /* Center items vertically */
  padding: 0 20px; /* Add padding for spacing */
  position: relative;
  margin-top: 10px;
}

.song-title {
  color: #ffffff;
  text-align: left;
  font-family: "Space Grotesk";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  width: 20vw;
  height: 2rem;
  overflow: auto; /* Add scrollbars if needed */
  white-space: nowrap; /* Prevent text from wrapping */
  margin-right: 15px; /* Add margin to space out the text */
}

.song-artist {
  color: #c2bdbd;
  text-align: left;
  font-family: "Space Grotesk";
  font-size: 1rem;
  font-weight: 400;
  width: 10vw;
  height: 2rem;
}

.catalog-pic {
  width: 5vw;
  height: 10vh;
  border-radius: 10%;
  margin-right: 15px; /* Add margin to space out the images */
}

.song-album {
  color: #c2bdbd;
  text-align: left;
  font-family: "Space Grotesk";
  font-size: 1rem;
  font-weight: 400;
  width: 10vw;
  height: 2rem;
}

.song-heart-list {
  width: 17px;
  height: 20px;
  margin-right: 1vw;
}

.song-heart-number {
  color: #c2bdbd;
  text-align: left;
  font-family: "Space Grotesk";
  font-size: 1rem;
  font-weight: 400;
  height: 2rem;
  width: 6vw;
}

.song-review-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.song-review-number {
  color: #c2bdbd;
  text-align: left;
  font-family: "Space Grotesk";
  font-size: 1rem;
  font-weight: 400;
  height: 2rem;
  width: 6vw;
}

.song-heart-select {
  width: 30px;
  height: 30px;
  margin-left: 1vw;
}

.red-pink-heart {
  filter: hue-rotate(-30deg) saturate(5) brightness(1.2);
}
